@charset "utf-8";
/* CSS Document */
*{
	padding:0px;
	margin:0px;

		
}
img { border:none;
outline:none;
} 

a{
	text-decoration:none;}
body,html{
	background-image:url(../images/ricepaper.png);
	}
div.pagewrap{
	
	min-width:1000px;
	min-height:100%;
	height:100%;
		
}
div.ad{
	background:#d8261a;
	width:135px;
	height:180px;
	margin:10px auto;
	}
	
	.lft-cont{
	width:155px;
	float:left;
	padding:20px 10px;
	text-align:center;
	font-size:16px;

	position:relative;
	}
	.ad-top{
		
		margin-top:10px;
		padding-bottom:150px;
		
		
		
		}

	.ad-bottom{
		
		bottom:10px;
		
		
		
		}
		.maincont{
		margin:0 auto;
			width:1100px;
			overflow:hidden;
			
			
}
	.maincont:after{
				
	content:".";
	visibility:hidden;
	clear:both;
	display: block;
}	
		
			
			.middl-cont{
				padding:10px;
				margin:20px auto;
				float:left;}
				#rod{
					background:url(../images/srcl-bg.png) repeat-x ;
					vertical-align:bottom;
					}
					#rod img{
						overflow:hidden;
					}
					#arr-lft{
						vertical-align:top;
						}
						#arr-wrt{
							margin:0 0 0 655px;
						text-align:right;
						}
				
			#disply{
				
				background:rgba(0,0,0,0.6);

				text-align:center;
				padding:50px 5px;
				
				}
				#disply img{
					vertical-align:top;
					padding:10px;
				
				}
				#thumb{
					margin:20px 0 0 0;
					padding:10px;
				
				background:rgba(0,0,0,0.6);
				width:685px;
				
				}
				.rht-cont{
					width:155px;
	float:left;
	padding:20px 10px;
	text-align:right;
	font-size:16px;
	
	position:relative;
	}
ul#pge-rod{
	list-style:none;
	}
	ul#pge-rod>li{
		display:inline-block;
		
	}